.region-highlighted,
.node-at-ct-web-page-layout-builder-form .form-actions,
.layout-builder__message .messages,
.vertical-tabs,
.block-local-tasks-block,
.block-page-title-block,
.block-help-block,
.block-system-main-block #edit-actions {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;
}

#user-login-form {
  max-width: 63rem;
  margin-left: auto;
  margin-right: auto;
}