.cc-announcements {
  padding: 1rem 0;
  width: 100%;

  &--wrapper {
    @include cc-wrapper;
  }

  &--date {
    @include date_heading;
  }

  &--text {
    padding-left: 2rem;
  }
}