.node--type-forum {
  @include cc_wrapper;

  header {
    .node__meta {
      article {
        display: none;
      }
    }
  }

  .field--name-taxonomy-forums {
    display: none;
  }

  .field--name-body {
    padding: 1rem 0;
  }

  .field--name-comment-forum {
    h2 {

    }
  }
}

.forum,
.breadcrumb ol,
.content .action-links {
  @include cc-wrapper;
}
