body.cadets-canada {
  background-color: white;

  .layout-container {
    max-width: 100%;
  }

  .region-content {
    min-height: 400px;
    @include large {
      min-height: 600px;
    }
  }
}

@each $theme in map-keys($themes) {
  .#{$theme} {
    a {
      border-bottom: none;
      color: map-get(map-get($themes, $theme), primary-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cadets-canada {
  .block .content,
  .node__content  {
    margin-top: 0;
  }

  iframe {
    width: 400px;
    max-width: 100%;

    @include medium {
      width: 700px;
    }

    @include large {
      width: 100%;
    }
  }

  img {
    padding: 0;
    margin: 0;
  }
}
