.cc-heading-text {

  @each $theme in map-keys($themes) {
    .#{$theme} & {
      background-color: #{map-get(map-get($themes, $theme), primary-color)};
      color: #{map-get(map-get($themes, $theme), heading-text-color)};
    }
  }
  width: 100%;

  &--wrapper {
    max-width: 63rem;
    margin-right: auto;
    margin-left: auto;

    h2 {
      @include heading_text;
    }
  }
}