.warspite .node .field--type-image {
  float: none;
}

.media--type-cc-mt-hero-image {
  position: relative;

  .hero-image-caption {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    &--wrapper {
      width: 100%;
    }

    &--caption {
      color: #ffffff;
      text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;

      @include large {
        font-size: 1.5rem;
      }
    }
  }

  img {
    display: block;
    width: 100%;
  }
}