@each $theme in map-keys($themes) {
  .#{$theme} {
    .node .field--type-image {
      margin: 0;
    }
  }
}

.field--name-field-cc-media-image-caption {

  @each $theme in map-keys($themes) {
    .#{$theme} & {
      background-color: #{map-get(map-get($themes, $theme), primary-color)};
      color: #{map-get(map-get($themes, $theme), heading-text-color)};
    }
  }

  @include caption_text;

  width: 100%;
  text-align: center;
}

.block-entity-browser-blockcc-media-ebr-image {
  @include cc-wrapper;

  img {
    width: 100%;
    display: block;
  }
}
