@each $theme in map-keys($themes) {
  .#{$theme}.page-node-type-cc-news {
    .page-title {
      background-color: #{map-get(map-get($themes, $theme), primary-color)};
      color: #{map-get(map-get($themes, $theme), heading-text-color)};
      padding: 1rem;
      @include news_text;
      margin: 1rem 0 0 0;
    }

    .field--name-field-cc-news-date {
      background-color: #{map-get(map-get($themes, $theme), secondary-color)};
      color: #{map-get(map-get($themes, $theme), primary-color)};
      padding: 0.5rem 1rem 0.5rem 1rem;
      @include news_text;
      font-weight: bold;
    }
  }
}

.page-node-type-cc-news {

  .node--type-cc-news {
    @include cc-wrapper;
  }

  .layout-builder {
    max-width: 63rem;
    margin-right: auto;
    margin-left: auto;
  }

  .field--name-field-cc-text {
    padding: 1rem 1rem 0 1rem;

    @include large {
      padding: 1rem 0 0 0;
    }
  }
}

.view-cc-view-news-latest,
.view-cc-view-news-all {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;

  .views-row {
    padding: 1rem 0;
  }

  .view-empty {

    @include large {
      padding: 1rem 0;
    }
  }

  .views-field-field-cc-news-summary {
    padding: 1rem 1rem;
  }

  img {
    width: 100%;
    display: block;
  }

  .cc-news--date {
    @include date_heading;
  }
}

.news-item--heading {

  @include news_title_heading;

  @each $theme in map-keys($themes) {
    .#{$theme} & {
      background-color: #{map-get(map-get($themes, $theme), primary-color)};
      color: #{map-get(map-get($themes, $theme), secondary-color)};

      a {
        display: block;
        color: #{map-get(map-get($themes, $theme), heading-text-color)};
        text-decoration: none;
        padding: 1rem;
        width: 100%;
      }
      &:hover {
        background-color: $dark_grey;
        text-decoration: none;
      }
    }
  }
}

@each $theme in map-keys($themes) {
  .#{$theme} {
    .cc-news--read-news-item {
      a {
        background-color: #{map-get(map-get($themes, $theme), primary-color)};
        color: #{map-get(map-get($themes, $theme), secondary-color)};

        &:hover {
          background-color: $dark_grey;
        }
      }
    }
  }
}

.cc-news--read-news-item {
  text-align: center;

  a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border-bottom-style: none;
    @include news_text;

    &:focus {
      border-bottom-style: none;
    }

    &:hover {
      text-decoration: none;
    }
  }
}