@each $theme in map-keys($themes) {
  .#{$theme} {
    .pager {
      ul.pager__items {
        li > a {
          background-color: #{map-get(map-get($themes, $theme),heading-text-color)};
          color: #{map-get(map-get($themes, $theme), primary-color)};

          &:hover {
            background-color: #{map-get(map-get($themes, $theme), primary-color)};
            color: #{map-get(map-get($themes, $theme), heading-text-color)};
          }
        }
      }
    }
  }
}

.pager {

  ul.pager__items {

    li.pager__item {
      padding: 0;
    }

    li.pager__item--next,
    li.pager__item--last {

    }

    li.pager__item--first,
    li.pager__item--previous {

    }

    li > a {
      display: inline-block;
      border-radius: 0;
      border: none;
      padding: 1rem;

      &:hover {
        text-decoration: none;
        background-color: $ws_gold;
        color: $ws_green;
      }
    }
  }
}