.block-entity-browser-blockws-ebr-reusable-text {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;

  .field--name-field-ws-reusable-text {
    padding: 1rem 0;
  }
}