@each $theme in map-keys($themes) {
  .#{$theme} {
    .cc-ros {
      &--date {
        background-color: #{map-get(map-get($themes, $theme), primary-color)};
        color: #{map-get(map-get($themes, $theme), secondary-color)};
      }
    }
  }
}

.cc-ros {
  width: 100%;

  &--date {
    padding: 1rem;
    font-family: $font_family;
    text-transform: uppercase;
    font-weight: bold;

    .field--name-field-cc-ro-start-date,
    .field--name-field-cc-ro-end-date {
      display: inline-block;
    }
  }

  &--file {
    padding: 1rem 1rem 1rem 2rem;
  }

  .view-empty {
    max-width: 63rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0;
  }
}

.cc-ros {
  &--wrapper {
    @include cc-wrapper;
    padding: 1rem 0;
  }
}

.view-ws-view-routine-orders-all {
  .views-row {
    max-width: 63rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0;
  }
}