@each $theme in map-keys($themes) {
  .#{$theme} {
    .cc-training {
      &--date {
        background-color: #{map-get(map-get($themes, $theme), primary-color)};
        color: #{map-get(map-get($themes, $theme), secondary-color)};
      }
    }
  }
}

.cc-training {
  width: 100%;
  padding: 1rem 0;

  &--wrapper {
    @include cc-wrapper;
  }

  &--date {
    padding: 1rem;
    font-family: $font_family;
    text-transform: uppercase;
    font-weight: bold;
  }

  &--image {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.view-ws-view-training-next-tuesday {
  .view-empty {
    max-width: 63rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;

    @include large {
      padding: 1rem 0;
    }
  }
}