.user-register-form {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;

  @include large {
    padding: 0;
  }

  .field--name-field-cc-user-first-name,
  .field--name-field-cc-user-last-name,
  .field--name-field-cc-user-carrier,
  .field--name-field-cc-user-cell,
  .field--name-field-cc-user-type,
  .field--name-field-cc-user-cadet-name {

    .form-item {
      border: 1px solid black;
      padding: 1rem;
    }
  }

  .field--name-field-cc-user-method {
    fieldset {
      border: 1px solid black;
      padding: 1rem;
    }
  }

  .form-type-email,
  .form-item-name,
  .form-item-pass,
  .form-item-first-name,
  .form-last-name {
    border: 1px solid black;
    padding: 1rem;
  }

  legend {
    width: inherit;
    border: 0;
  }
}