$themes: (
  air-cadets: (
    primary-color: #006DAE,
    secondary-color: #FFFFFF,
    heading-text-color: #FFFFFF
  ),
  army-cadets: (
    primary-color: #4B5320,
    secondary-color: #A9271E,
    heading-text-color: #FFFFFF
  ),
  sea-cadets: (
    primary-color: #000000,
    secondary-color: #FFFFFF,
    heading-text-color: #FFFFFF
  ),
  generic: (
    primary-color: #787878,
    generic-color: #ffffff,
    heading-text-color: #FFFFFF
  ),
  rcscc-warspite: (
    primary-color: #1A442A,
    secondary-color: #FFC641,
    heading-text-color: #FFC641
  ),
);

$ws_green: #1A442A;
$ws_gold: #FFC641;
$ws_light_grey: #e5e5e5;
$ws_dark_grey: #787878;
$font_family: 'Ubuntu', sans-serif;

@mixin cc-wrapper {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;
}

@mixin date_heading {

  @each $theme in map-keys($themes) {
    .#{$theme} & {
      background-color: #{map-get(map-get($themes, $theme), primary-color)};
      color: #{map-get(map-get($themes, $theme), heading-text-color)};
    }
  }

  font-family: $font_family;
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-weight: bold;
}

@mixin caption_text {
  font-family: $font_family;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

@mixin heading_text {
  font-family: $font_family;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 1rem;

  @include large {
    padding: 1rem 0;
    font-size: 2rem;
  }
}

@mixin news_title_heading {
  color: $ws_green;
  font-family: 'Ubuntu', sans-serif;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

@mixin menu_link {
  font-family: $font_family;
}

@mixin corps_text {
  text-transform: uppercase;
  font-family: $font_family;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-left: 0.5rem;
  text-shadow: 2px 2px black;
  margin: 0;
  padding-top: 1.5rem;

  @include large {
    letter-spacing: 0.25rem;
    font-size: 1.5rem;
    text-align: left;
  }
}

@mixin alert_text {
  font-family: $font_family;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin media_text {
  font-family: $font_family;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin news_text {
  font-family: $font_family;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin caption_text {
  font-family: $font_family;
  text-transform: uppercase;
  font-weight: bold;
}