<div class="ws-announcements">
  <div class="ws-announcements--wrapper">
    <div class="ws-announcements--date">
      {{ content.field_ws_start_date | field_value }} to {{ content.field_ws_end_date | field_value }}
    </div>
    <div class="ws-announcements--text">
      {{ content.body | field_value }}
    </div>
  </div>
</div>