<div class="cc-alert">
  <div class="cc-alert--wrapper cc-alert--{{ content.field_cc_alert_type | field_value }}">
    <div class="cc-alert--date">
      {{ content.field_cc_alert_date }} - {{ content.field_cc_alert_type | field_value }}
    </div>
    <div class="cc-alert--text">
      {{ content.field_cc_alert_text }}
    </div>
  </div>
</div>