<div class="ws-training">
  <div class="ws-training--wrapper">
    <div class="ws-training--date">
      {{ content.field_ws_training_date }}
    </div>
    <div class="ws-training--image">
      {{ content.field_ws_training_plan_image }}
    </div>
  </div>
</div>