<div class="cc-training">
  <div class="cc-training--wrapper">
    <div class="cc-training--date">
      {{ content.field_cc_tp_training_date }}
    </div>
    <div class="cc-training--image">
      {{ content.field_cc_tp_image }}
    </div>
  </div>
</div>