<div class="cc-announcements">
  <div class="cc-announcements--wrapper">
    <div class="cc-announcements--date">
      {{ content.field_cc_anc_start_date | field_value }} to {{ content.field_cc_anc_end_date | field_value }}
    </div>
    <div class="cc-announcements--text">
      {{ content.body | field_value }}
    </div>
  </div>
</div>