<div class="ws-ros">
  <div class="ws-ros--wrapper">
    <div class="ws-ros--date">
      {{ content.field_ws_ro_start_date }} to {{ content.field_ws_ro_start_date }}
    </div>
    <div class="ws-ros--file">
      <a href="{{ content.file_link }}">Routine Orders</a>
    </div>
  </div>
</div>