<div class="ws-ros">
  <div class="ws-ros--wrapper">
    <div class="ws-ros--date">
      {{ content.field_cc_ro_start_date }} to {{ content.field_cc_ro_start_date }}
    </div>
    <div class="ws-ros--file">
      <a href="{{ content.field_cc_ro_file | field_value }}">View / Download</a>
    </div>
  </div>
</div>