<div class="header-container">
  <div class="header-container--logo">
    <a href="{{ url('<front>') }}">
      <img src="{{ url('<front>') }}/{{ directory}}/images/warspite_crest_shadow.png" alt="RCSCC Warspite crest">
    </a>
  </div>
  <div class="header-container--corps">
    <p>Royal Canadian Sea Cadet Corps Warspite</p>
  </div>
  <div class="header-container--menu">
    {{ content }}
  </div>
</div>
